@import "./sass/vendors/bootstrap.scss";

@import "./sass/abstracts/mixins";
@import "./sass/abstracts/variables";
@import "./sass/abstracts/helpers";

@import "./sass/base/base";
@import "./sass/base/typography";

@import "./sass/components/buttons";

@import "./sass/layout/footer";
@import "./sass/layout/sections";

@import "./sass/sections/about";
@import "./sass/sections/contact";
@import "./sass/sections/hero";
@import "./sass/sections/projects";

.color-lavendar {
    color: #8d56d1;
}

.color-orange {
    color: orange;
}

.color-green {
    color: green;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    // position: relative;
    // align-items: center;
    // justify-content: center;
  }

.grid-item {
    padding: 2px;
    font-size: 30px;
    margin: 50px;
    transition: transform .6s;
  }

  .grid-item:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }